.icon{display:inline-block;vertical-align:text-bottom;background:transparent url('/images/redesign/icons-v2.png?v=20120910') no-repeat -312px -160px;}
.icon.small{width:24px;height:24px;}
.icon.tiny{width:16px;height:16px;}
.tiny.fresh{background-position:-256px -144px;}
.tiny.rotten{background-position:-272px -144px;}
