body {
background: #fafafa;
font-family: "RobotoDraft",sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #777;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow-x: hidden;
}
	
	.content-card	
	{
		width: 70%; 
		background-color: #fff; 
		margin: auto; 
		margin-top: 3%; 
		position: relative; 
		padding: 50px;
        	border-top-left-radius: 2px;
        	border-top-right-radius: 2px;
        	border-bottom-right-radius: 2px;
        	border-bottom-left-radius: 2px;
		box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
		
	}
	
	.cover-image
	{
		background-size: cover; 
		background-position: center;
		height: 50%; 
		width: 100%; 
		top: 0; 
		position: absolute;
		overflow-x: hidden;
	}

	
	.single-event-title
	{
		font-size: 2.5em;
		font-weight: 300;
		color: #555;
	}
	
	.single-event-subtitle
	{
		font-size: 1.8em;
		font-weight: 300;
		color: #444;
	}
		
	.single-event-description
	{
		word-wrap: break-word;
		font-size: 1em;
		font-weight: 400;
		color: #555;
	}


	@media (max-width: 800px) 
	{	
		
  		.content-card	
		{		
			margin-top: 10%;
			width: 80%;
			padding: 20px;
		}		

	}

	@media (max-width: 480px) 
	{
		
		.content-card	
		{	
			margin-top: 10%;
			width: 80%;
			padding: 20px;
			
		}		
}
  		
		