<!DOCTYPE html>
<html>
<head>    
    <meta charset="utf-8">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width, height=device-height, user-scalable=yes" name="viewport">
    <meta content="Atlanta, application developer, web mobile, angular javascript develop programs, building, testing, implementing, computer science, python, django .net,c#" itemprop="description">
    <title> m1ck 💾 🔥 </title>
    <link rel="shortcut icon" href="img/favicon.ico">

    <link href="static/webstyle.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='default.min.css') }}" rel="stylesheet">


</head>
<body>
    <header id="header" class="cover-image" style="background-image: url('static/images/materialcover.jpg');"></header>
 

    <div class="content-card ">
        <a class="gweb-smoothscroll-control paper-button btn-next" data-g-event="nav" data-g-label="scrolldown" href="#resources"><span>Down</span></a>
        <span class="single-event-title">Mick Chambers</span>
        <br>
        <i class="fa fa-briefcase grayicon" style="line-height: 2.3em"></i>&nbsp;&nbsp;<span class="single-event-description">Application Developer</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-map-marker grayicon" style="line-height: 2.3em"></i>&nbsp;&nbsp;<span class="single-event-description">Atlanta, Georgia</span>

        <span class="intro">  <p>Hi, I'm Mick  and I'm a developer.  </p>

            <p>One day while walking through the wilderness a man stumbled upon a vicious tiger. He ran but soon came to the edge of a high cliff. Desperate to save himself, he climbed down a vine and dangled over the fatal precipice.</p>
            <p>As he hung there, two mice appeared from a hole in the cliff and began gnawing on the vine.</p>
            <p>Suddenly, he noticed on the vine a plump wild strawberry. He plucked it and popped it in his mouth. It was incredibly delicious!</p>

        </span>

        <div class="row ">
          
                <a href="https://www.facebook.com/mickcarlo" title="facebook" target="_blank"><img src="static/images/fb.png" alt="facebook"></a>
                <a href="https://plus.google.com/+MickChambers/about" title="plus" target="_blank"><img src="static/images/go.png" alt="google plus"></a>
                <a href="https://twitter.com/m1ck" target="_blank" title="twitter"><img src="static/images/tw.png" alt="twitter"></a>
           
        </div>


      <div class="row ">          
                <a href="https://www.amazon.com/gp/registry/wishlist/3U4208VZKLJUT" title="amazon" target="_blank"><img src="https://www.amazon.com/favicon.ico" width="20"></a>
                <a href="https://news.ycombinator.com/user?id=m1ck" title="ycombinator" target="_blank"><img src="https://news.ycombinator.com/favicon.ico" width="20"></a>
                <a href="https://www.flickr.com/photos/m1ck" title="flickr" target="_blank"><img src="https://flickr.com/favicon.ico" width="20"></a>
                <a href="https://delicious.com/m1ck." title="delicious" target="_blank"></a>
                <a href="https://instagram.com/mickcarlo" title="instagram" target="_blank"><img src="https://www.instagram.com/static/images/ico/favicon-192.png/68d99ba29cc8.png" width="20"></a>
                <a href="https://www.linkedin.com/profile/view?id=227596403&trk=nav_responsive_tab_profile_pic" title="linkedin" target="_blank"><img src="https://www.linkedin.com/favicon.ico" width="20"></a>
                <a href="https://github.com/m1ck" title="github" target="_blank"><img src="https://github.com/favicon.ico" width="20"></a>
                <a href="https://friendfeed.com/m1ck" title="friendfeed" target="_blank"><img src="https://www.facebook.com/favicon.ico" width="20"></a>
                <a href="https://www.blogger.com/profile/09952234852383936792" title="blogspot" target="_blank"><img src="https://blogspot.com/favicon.ico" width="20"></a>
                <a href="https://profiles.google.com/113375826925339927794/buzz" title="google buzz" target="_blank"><img src="https://google.com/favicon.ico" width="20"></a>
          </div>

    </div>






    <section class="resources section-wrapper" id="resources">
        <span class="single-event-title">Side Projects</span>
        <div class="row">
            <div class="resource-tile-wrapper span-3">
                <div class="resource-tile doodle-archive">
                    <a class="paper-ripple" data-g-event="cta" data-g-label="tile-listmania" href="http://listmania.org/" id="listmania">
                      
                        <span class="title">Listmania </span>
                    </a>
                </div>
            </div>
            <div class="resource-tile-wrapper span-6">
                <div class="resource-tile google-plus">
                    <a class="paper-ripple" data-g-event="cta" data-g-label="tile-tag-cloud" href="https://m1ck.com/" id="tag-cloud" rel="Firebase">
                        <span class="title">Firebase</span>
                    </a>
                </div>
            </div>
            <div class="resource-tile-wrapper span-3">
                <div class="resource-tile design-minutes">
                    <a class="paper-ripple" data-g-event="cta" data-g-label="tile-movieapi"
                       href="http://www.movieapi.com/" id="movieapi">
                        <span class="title">Movieapi</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="resource-tile-wrapper span-6">
                <div class="resource-tile google-spec">
                    <a class="paper-ripple" data-g-event="cta" data-g-label="tile-Socialwheel" href="http://www.socialwheel.com/" id="Socialwheel">
                         <span class="title">Socialwheel</span>
                    </a>
                </div>
            </div>

            <div class="resource-tile-wrapper span-6">
                <div class="resource-tile web-designer">
                    <a class="paper-ripple" data-g-event="cta" data-g-label="tile-Readgator" href="http://www.readgator.com/?page=2" id="Readgator">
                        <span class="title">Readgator</span>
                    </a>
                </div>
            </div>

        </div>
    </section>
    <footer>
        <div class="section-wrapper">
            <ul>
                <li>
                    <a>&copy; m1ck 2014</a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='design.min.js') }}">
    </script>
</body>
</html>